*{
    margin: 0;
    padding: 0;
}
.ua{
  width: 100%;
  height: 20px;
  background-color: #5ee7df;
}
.ua>.g1{
  margin-left: 1200px;
}
.ua>.g2{
  margin-left: 80px;
  position: absolute;
}
.nav{
    width: 100%;
    height: 90px;
    /* background: url(/images/RE4wppL.jpg) no-repeat;     */
    border-bottom:solid 5px red ;
}
a{
    text-decoration: none;
    color:black;  
}
 .uc{
  height: 90px;
  width: 200px;
  position: absolute;
}
.uc>.qo>img{
  float: left;
  width: 100%;
  height: 100%;
} 
.nav>ul{
  margin-left: 350px;
}
.nav>ul>li{
  height: 90px;
  padding: 0 40px;
  /* background-color: #ff4444; */
  float:left;
  list-style: none;

}
.nav>ul>li>a{
  color: black;
  line-height: 90px;

}
.slide-box {
    position: relative;
    margin: 30px auto;
    height: 350px;
    max-width: 1400px;
    min-width: 700px;
  }
  
  .banner-box {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .banner-item {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 90%;
    background-color: #000;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 0;
  }
  
  .banner-item>img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: opacity 0.5s;
    object-fit: cover;
  } 
  
  .banner-item.left {
    left: 0;
    transform: translateX(0);
    z-index: 50;
  }
  
  .banner-item.right {
    left: 100%;
    transform: translateX(-100%);
    z-index: 50;
  }
  
  .banner-item.middle {
    width: 550px;
    height: 100%;
    z-index: 100;
  }
  
   .banner-item.middle>img { 
    opacity: 1;
  } 
  
  .slide-left-btn, .slide-right-btn {
    position: absolute;
    top: 50%;
    z-index: 200;
    width: 20px;
    height: 20px;
    font-size: 10px;
    font-weight: 900;
    color: #b4b4b4;
    border: none;
    background: none;
  }
  
  .slide-left-btn:hover, .slide-right-btn:hover {
    color: #fff;
  }
  
  .slide-left-btn {
    left: 1%;
  }
  
  .slide-right-btn {
    right: 1%;
  }
  
  .pagination-box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .pagination-box>span {
    width: 20px;
    height: 6px;
    border-radius: 3px;
    margin: 0 4px;
    background-color: #b4b4b4;
  }
  
  .pagination-box>span.chose {
    background-color: #ff4444;
  }
  .paper{
    width: 100%;
    height: 650px;
    /* background-color: aqua; */
    border-top: solid 8px red;
    width: 1420px;
    margin-left: 50px;
    border-bottom: dashed 2px red;
  }
  .paper>.in{
    width: 910px;
    height: 560px;
    margin-top: 20px;
    margin-left: 20px;
    /* background-color: aqua; */
    border-radius: 20px;
    border: solid 5px red;
  }
  .paper>.in>.shou{
    height: 60px;
    width: 100%;
    border-bottom: solid 2px red;
  }
  .paper>.in>.shou>.ti{
    float: left;
    font-size: 35px;
    font-weight:bold;
    line-height: 40px;
    text-decoration: none;
    margin-top: 15px;
    color: bisque;
    text-shadow: 2px 1px red;
  }
  .paper>.in>.shou>.gi{
    float: left;
    font-size: 15px;
    text-decoration: none;
    margin-top: -20px;
    margin-left: 850px;
  }
  .paper>.in>.p1{
    width: 260px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    /* background-color: aqua;  */
    border-radius: 20px;
    border: solid grey;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p1>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p1>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p1>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p1>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p1>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p1>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p1>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p1>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p1>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p1>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.in>.p2{
    width: 260px;
    height: 200px;
    margin-top: -200px;
    margin-left: 330px;
     /* background-color: aqua;  */
    border-radius: 20px;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p2>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p2>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p2>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p2>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p2>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p2>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p2>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p2>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p2>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p2>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.in>.p3{
    width: 260px;
    height: 200px;
    margin-top: -200px;
    margin-left: 620px;
     /* background-color: aqua;  */
    border-radius: 20px;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p3>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p3>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p3>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p3>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p3>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p3>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p3>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p3>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p3>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p3>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.in>.p4{
    width: 260px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    /* background-color: aqua;  */
    border-radius: 20px;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p4>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p4>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p4>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p4>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p4>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p4>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p4>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p4>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p4>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p4>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.in>.p5{
    width: 260px;
    height: 200px;
    margin-top: -200px;
    margin-left: 330px;
    /* background-color: aqua;  */
    border-radius: 20px;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p5>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p5>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p5>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p5>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p5>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p5>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p5>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p5>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p5>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p5>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.in>.p6{
    width: 260px;
    height: 200px;
    margin-top: -200px;
    margin-left: 620px;
    /* background-color: aqua; */
    border-radius: 20px;
    box-shadow: 2px 4px 2px 1px grey;
  }
  .paper>.in>.p6>.s1{
    width: 260px;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p6>.s1>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 67px; 
  }
  .paper>.in>.p6>.s2{
    width: 260px;
    height: 75px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p6>.s2>a1{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px; 
    margin-left: 10px;
  }
  .paper>.in>.p6>.s2>a2{
    font-size: 16px;
    line-height: 20px;
    position:absolute ;
    margin-top: 40px;
    margin-left: 10px;
  }
  .paper>.in>.p6>.s3{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom:dashed grey;
  }
  .paper>.in>.p6>.s3>a{
    font-size: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 10px;
    margin-left: 25px; 
  }
  .paper>.in>.p6>.s4{
    width: 260px;
    height: 40px;
    /* background-color: aqua; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #b4b4b4;
  }
  .paper>.in>.p6>.s4>a{
    font-size: 14px;
    line-height: 20px;
    position:absolute ;
    margin-top: 15px;
    margin-left: 200px; 
  }
  .paper>.in>.p6>.s4>img{
    width: 18px;
    height: 18px;
    line-height: 20px;
    position:absolute ;
    margin-top: 16px;
    margin-left: 232px; 
  }
  .paper>.per{
    width: 400px;
    height: 560px;
    /* background-color:aqua; */
    margin-top: -575px;
    margin-left: 1030px;
  }
  .paper>.per>.ac1{
    width: 340px;
    height: 260px;
    margin-left: 30px;
    background-color: red;
    background-image: linear-gradient(to bottom,red,yellow);
  }
  .paper>.per>.ac1>.k1{
    width: 300px;
    height: 75px;
    border-bottom: solid 2px bisque;
    margin-left: 15px;
  }
  .paper>.per>.ac1>.k1>a{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    position:absolute;
  }
  .paper>.per>.ac1>.k2{
    width: 300px;
    height: 75px;
    border-bottom: solid 2px bisque;
    margin-left: 15px;
  }
  .paper>.per>.ac1>.k2>a{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    position:absolute;
  }
  .paper>.per>.ac1>.k3{
    width: 300px;
    height: 75px;
    border-bottom: solid 2px bisque;
    margin-left: 15px;
  }
  .paper>.per>.ac1>.k3>a{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    position:absolute;
  }
  .paper>.per>.ac2{
    width: 340px;
    height: 85px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #a8edea;
  background-image: linear-gradient(to bottom,#a8edea,#fed6e3);
  }
  .paper>.per>.ac2>a{
    font-size: 30px;
    font-weight:bold;
    line-height: 35px;
    margin-left: 60px;
    position: absolute;
    margin-top: 25px;
    color:burlywood;
  }
  .paper>.per>.ac3{
    width: 340px;
    height: 85px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #5ee7df;
  background-image: linear-gradient(to bottom,#5ee7df,#b490ca);
  }
  .paper>.per>.ac3>a{
    font-size: 30px;
    font-weight:bold;
    line-height: 35px;
    margin-left: 60px;
    position: absolute;
    margin-top: 25px;
    color:burlywood;
  }
  .paper>.per>.ac4{
    width: 340px;
    height: 85px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: #d299ca;
  background-image: linear-gradient(to bottom,#d299ca,#fef9d7);
  }
  .paper>.per>.ac4>a{
    font-size: 30px;
    font-weight:bold;
    line-height: 35px;
    margin-left: 60px;
    position: absolute;
    margin-top: 25px;
    color:burlywood;
  }
 .aka{
  width: 100%;
  height: 1650px;
  /* background-color: #ff4444; */
  margin-top: 60px;
 }
 .aka>.yi1{
  width: 1300px;
  height: 700px;
  /* background-color: #000; */
  margin-top: 10px;
  margin-left: 120px;
  border: solid 2px white;
  position:relative;
 }
 .aka>.yi2{
  width: 1300px;
  height: 900px;
  /* background-color: #000; */
  border: solid white;
  margin-top: 60px;
  margin-left: 120px;
 }
 .aka>.yi1>.ad1{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px white;
  background-color: yellow;
  position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);
 }
 .aka>.yi1>.ad1>a{
  font-size: 40px;
  position: absolute;
  margin-left: 55px;
  margin-top: 60px;
 }
 .aka>.yi1>.ad2{
  width: 490px;
  height: 190px;
   background-color:blue; 
  border-top-right-radius:5em;
  margin-left: 180px;
  margin-top: 100px;
  border-bottom-left-radius:5em;
 }
 .aka>.yi1>.ad2>.t1{
  height: 160px;
  width: 170px;
  border-bottom-left-radius: 20px;
  margin-top: 10px;
  margin-left: 30px;
  /* background-color: #000; */
  position: absolute;
 }
  .aka>.yi1>.ad2>.t1>a>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
 } 
 .aka>.yi1>.ad2>.t2{
  height: 160px;
  width: 300px;
  margin-top: 20px;
  margin-left: 210px;
  /* background-color: #000; */
  position: absolute;
 }
 .aka>.yi1>.ad2>.t2>.k1{
  height: 40px;
  width: 200px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad2>.t2>.k2{
  height: 40px;
  width: 200px;
  margin-top: 50px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad2>.t2>.k3{
  height: 50px;
  width: 200px;
  margin-top: 90px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad2>.t2>.k1>a{
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
 }
 .aka>.yi1>.ad2>.t2>.k2>a{
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
 }
 .aka>.yi1>.ad2>.t2>.k3>a{
  font-size: 20px;
  margin-top: 22px;
  position: absolute;
 }
 .aka>.yi1>.ad3{
  width: 570px;
  height: 240px;
  background-color:blue;
  margin-left: 20px;
  margin-top: 50px;
  border-top-left-radius:5em;
  border-bottom-right-radius:5em;
 }
 .aka>.yi1>.ad3>.t3{
  height: 180px;
  width: 230px;
  border-bottom-left-radius: 20px;
  margin-top: 25px;
  margin-left: 30px;
  /* background-color: #000; */
  position: absolute;
 }
  .aka>.yi1>.ad3>.t3>a>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
 } 
 .aka>.yi1>.ad3>.t4{
  height: 180px;
  width: 320px;
  margin-top: 20px;
  margin-left: 280px;
  /* background-color: #000; */
  position: absolute;
 }
 .aka>.yi1>.ad3>.t4>.k4{
  height: 60px;
  width: 270px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad3>.t4>.k5{
  height: 60px;
  width: 270px;
  margin-top: 60px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad3>.t4>.k6{
  height: 60px;
  width: 270px;
  margin-top: 120px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad3>.t4>.k4>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad3>.t4>.k5>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad3>.t4>.k6>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad4{
  width: 550px;
  height: 220px;
  background-color:blue;
  margin-left: 720px;
  margin-top: -410px;
  border-top-left-radius:5em;
  border-bottom-right-radius:5em;
 }
 .aka>.yi1>.ad4>.t4{
  height: 180px;
  width: 320px;
  margin-top: 20px;
  margin-left: 40px;
  /* background-color: #000; */
  position: absolute;
 }
 .aka>.yi1>.ad4>.t4>.k4{
  height: 60px;
  width: 235px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad4>.t4>.k5{
  height: 60px;
  width: 235px;
  margin-top: 60px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad4>.t4>.k6{
  height: 60px;
  width: 235px;
  margin-top: 120px;
  /* background-color: #000; */
  position: absolute;
  border-bottom: dashed grey;
 }
 .aka>.yi1>.ad4>.t4>.k4>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad4>.t4>.k5>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad4>.t4>.k6>a{
  font-size: 24px;
  margin-top: 27px;
  position: absolute;
 }
 .aka>.yi1>.ad4>.t3{
  height: 180px;
  width: 230px;
  border-bottom-left-radius: 20px;
  margin-top: 25px;
  margin-left: 290px;
  /* background-color: #000; */
  position: absolute;
 }
  .aka>.yi1>.ad4>.t3>a>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
 } 
 .aka>.yi1>.ad5{
  float: left;
  font-size: 60px;
  font-weight:bold;
  line-height: 40px;
  text-decoration: none;
  margin-top: 130px;
  margin-left: 800px;
  color: bisque;
  text-shadow: 2px 1px red;
 }
 .aka>.yi1>.ad6{
  float: left;
    font-size: 20px;
    text-decoration: none;
    margin-left: 60px;
    margin-top: 160px;
    color: grey;
 }
 .aka>.yi2>.am1{
  width: 900px;
  height: 400px;
  /* background-color: #000; */
  margin-left: 20px;
  border: solid 2px white;
 }
 .aka>.yi2>.am1>.ap1{
   width: 860px;
   height: 60px;
   margin-left: 20px;
   border-bottom: solid red 3px;
 }
 .aka>.yi2>.am1>.ap1>a{
  font-size: 50px;
  font-weight: 520;
  line-height: 40px;
  text-decoration: none;
  position: absolute;
  margin-top: 10px;
  color: bisque;
  text-shadow: 2px 1px red;
}
.aka>.yi2>.am1>.ap1>.th{
  height: 20px;
  width: 80px;
  position: absolute;
  margin-left: 800px;
  margin-top: 40px;
  /* background-color: #5ee7df; */
}
.aka>.yi2>.am1>.ap1>.th>a{
  font-size: 15px;
  position: absolute;
}
.aka>.yi2>.am1>.ap2{
  width: 520px;
  height: 330px;
  /* border: solid red 3px; */
  position: absolute;
  margin-left: 380px;
}
.aka>.yi2>.am1>.ap2>.c1{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c1>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am1>.ap2>.c2{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c2>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
.aka>.yi2>.am1>.ap2>.c3{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c3>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
.aka>.yi2>.am1>.ap2>.c4{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c4>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
.aka>.yi2>.am1>.ap2>.c5{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c5>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
.aka>.yi2>.am1>.ap2>.c6{
  height: 45px;
  width: 500px;
  border-bottom:dashed #ff4444;
}
.aka>.yi2>.am1>.ap2>.c6>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am1>.ap2>.c7{
  height: 290px;
  width: 330px;
  background-color:#fef9d7;
  position: absolute;
  margin-left: -360px;
  margin-top: -280px;
}
.aka>.yi2>.am1>.ap2>.c7>a>img{
  width: 330px;
  height: 260px;
}
.aka>.yi2>.am1>.ap2>.c7>a>a{
  font-weight: 20px;
}
 .aka>.yi2>.am2{
  width: 350px;
  height: 400px;
  /* background-color: red; */
  margin-left: 950px;
  margin-top: -400px;
 }
 .aka>.yi2>.am2>.n1{
  width: 330px;
  height: 60px;
  margin-left: 20px;
  border-bottom: solid red 3px;
 }
 .aka>.yi2>.am2>.n1>a{
  font-size: 50px;
  font-weight: 520;
  line-height: 40px;
  text-decoration: none;
  position: absolute;
  margin-top: 10px;
  color: bisque;
  text-shadow: 2px 1px red;
 }
 .aka>.yi2>.am2>.n1>a1{
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  position: absolute;
  margin-top: 40px;
  margin-left: 300px;
 }
 .aka>.yi2>.am2>.n2{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n2>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am2>.n3{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n3>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am2>.n4{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n4>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am2>.n5{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n5>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am2>.n6{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n6>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am2>.n7{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am2>.n7>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3{
  width: 350px;
  height: 400px;
  /* background-color: yellow; */
  margin-left: 20px;
  margin-top: 70px;
 }
 .aka>.yi2>.am3>.n1{
  width: 330px;
  height: 60px;
  margin-left: 20px;
  border-bottom: solid red 3px;
 }
 .aka>.yi2>.am3>.n1>a{
  font-size: 50px;
  font-weight: 520;
  line-height: 40px;
  text-decoration: none;
  position: absolute;
  margin-top: 5px;
  color: bisque;
  text-shadow: 2px 1px red;
 }
 .aka>.yi2>.am3>.n1>a1{
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  position: absolute;
  margin-top: 40px;
  margin-left: 300px;
 }
 .aka>.yi2>.am3>.n2{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n2>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3>.n3{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n3>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3>.n4{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n4>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3>.n5{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n5>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3>.n6{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n6>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am3>.n7{
  width: 320px;
  height: 45px;
  margin-left: 20px;
  border-bottom: dashed red 3px;
 }
 .aka>.yi2>.am3>.n7>a{
  font-size: 20px;
  font-weight: 350;
  position: absolute;
  margin-top: 20px;
 }
 .aka>.yi2>.am4{
  width: 900px;
  height: 400px;
  /* background-color: greenyellow; */
  margin-left: 400px;
  margin-top: -400px;
 }
 .aka>.yi2>.am4>.ap1{
  width: 860px;
  height: 60px;
  margin-left: 20px;
  border-bottom: solid red 3px;
}
.aka>.yi2>.am4>.ap1>a{
 font-size: 50px;
 font-weight: 520;
 line-height: 40px;
 text-decoration: none;
 position: absolute;
 margin-top: 10px;
 color: bisque;
 text-shadow: 2px 1px red;
}
.aka>.yi2>.am4>.ap1>.th{
 height: 20px;
 width: 80px;
 position: absolute;
 margin-left: 800px;
 margin-top: 40px;
 /* background-color: #5ee7df; */
}
.aka>.yi2>.am4>.ap1>.th>a{
 font-size: 15px;
 position: absolute;
}
.aka>.yi2>.am4>.ap2{
 width: 520px;
 height: 330px;
 /* border: solid red 3px; */
 position: absolute;
 margin-left: 20px;
}
.aka>.yi2>.am4>.ap2>.c1{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c1>a{
font-size: 20px;
font-weight: 350;
position: absolute;
margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c2{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c2>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c3{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c3>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c4{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c4>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c5{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c5>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c6{
 height: 45px;
 width: 500px;
 border-bottom:dashed #ff4444;
}
.aka>.yi2>.am4>.ap2>.c6>a{
 font-size: 20px;
 font-weight: 350;
 position: absolute;
 margin-top: 20px;
}
.aka>.yi2>.am4>.ap2>.c7{
 height: 290px;
 width: 330px;
 background-color:#fef9d7;
 position: absolute;
 margin-left: -360px;
 margin-top: -280px;
 margin-left: 530px;
}
.aka>.yi2>.am4>.ap2>.c7>a>img{
 width: 330px;
 height: 260px;
}
.aka>.yi2>.am4>.ap2>.c7>a>a{
 font-weight: 20px;
}
.fp{
  width: 100%;
  height: 300px;
  border-top:solid 8px #ff4444;
  background-color: #943838;
}
.fp>.ui1{
  height: 300px;
  width: 400px;
  margin-left: 400px;
  /* background-color: #000;*/
} 
.fp>.ui1>span{
  font-size: 50px;
  font-weight: 400;
} 
.fp>.ui1>.a1{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 70px;
  margin-left: -260px;
} 
.fp>.ui1>.a2{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 110px;
  margin-left: -260px;
} 
.fp>.ui1>.a3{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 150px;
  margin-left: -260px;
} 
.fp>.ui1>.a4{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 190px;
  margin-left: -260px;
} 
.fp>.ui1>.a5{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 230px;
  margin-left: -260px;
} 
.fp>.ui1>.a6{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 270px;
  margin-left: -260px;
} 

.fp>.ui2{
  height: 300px;
  width: 400px;
  margin-left: 860px;
  /* background-color: #000; */
  margin-top: -300px;
}
.fp>.ui2>span{
  font-size: 50px;
  font-weight: 400;
} 
.fp>.ui2>.a1{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 70px;
  margin-left: -230px;
} 
.fp>.ui2>.a2{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 110px;
  margin-left: -230px;
} 
.fp>.ui2>.a3{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 150px;
  margin-left: -230px;
} 
.fp>.ui2>.a4{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 190px;
  margin-left: -230px;
} 
.fp>.ui2>.a5{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 230px;
  margin-left: -230px;
} 
.fp>.ui2>.a6{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 270px;
  margin-left: -230px;
} 
.fp>.ui3{
  height: 300px;
  width: 400px;
  margin-left: 1120px;
  background-color: #5ee7df;
  margin-top: -300px;
}
.fp>.ui3>a{
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  margin-top: 270px;
}
.fp>.ui4{
  height: 300px;
  width: 400px;
  background-color: #5ee7df;
  margin-top: -300px;
}
.fp>.ui4>img{
width: 100%;
height: 100%;
}