*{
    margin: 0;
    padding: 0;
}
.ua{
  width: 100%;
  height: 20px;
  background-color: #5ee7df;
}
.ua>.g1{
  margin-left: 1200px;
}
.ua>.g2{
  margin-left: 80px;
  position: absolute;
}
.nav{
    width: 100%;
    height: 90px;
    /* background: url(/images/RE4wppL.jpg) no-repeat;     */
    border-bottom:solid 5px red ;
}
a{
    text-decoration: none;
    color:black;  
}
 .uc{
  height: 90px;
  width: 200px;
  position: absolute;
}
.uc>.qo>img{
  float: left;
  width: 100%;
  height: 100%;
} 
.nav>ul{
  margin-left: 350px;
}
.nav>ul>li{
  height: 90px;
  padding: 0 40px;
  /* background-color: #ff4444; */
  float:left;
  list-style: none;

}
.nav>ul>li>a{
  color: black;
  line-height: 90px;
}
.fly-panel{
    width: 1200px;
    height: 750px;
    border:solid 2px rgb(198, 194, 194);
    position: absolute;
    margin-top: 20px;
    margin-left: 150px;
}
.fly-panel>.page-title{
    width: 1160px;
    height: 50px;
    background-color: rgb(248, 246, 246);
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
}
.fly-panel>.page-title>h2{
  font-size: 20px;
  margin-left: 10px;
}
.fly-panel>.layui{
    width: 1160px;
    height: 700px;
    /* background-color: aliceblue; */
    margin-left: 20px;
    margin-top: 100px;
}
.fly-panel>.layui>.layui-form-item1{
    width: 1160px;
    height: 40px;
    background-color: white;
    border: solid 1px rgb(211, 209, 209);
}

.fly-panel>.layui>.layui-form-item1>.layui-form-label1>a{
font-size: 16px;
position: absolute;
margin-top: 8px;
margin-left: 30px;
}
.fly-panel>.layui>.layui-form-item1>.layui-form-label1{
    width: 100px;
    height: 40px;
}
.fly-panel>.layui>.layui-form-item1>.layui-input1{
    width: 1060px;
    height: 38px;
    position: absolute;
    margin-left: 100px;
    margin-top: -40px;
    border: solid 1px rgb(211, 209, 209);
}
.fly-panel>.layui>.layui-form-item2{
  width: 1160px;
  height: 40px;
  background-color: white;
  border: solid 1px rgb(211, 209, 209);
  position: absolute;
  margin-top: 510px;
}
.fly-panel>.layui>.layui-form-item2>.layui-form-label2>a{
    font-size: 16px;
    position: absolute;
    margin-top: 8px;
    margin-left: 30px;
    }
.fly-panel>.layui>.layui-form-item2>.layui-form-label2{
        width: 100px;
        height: 40px;
    }
.fly-panel>.layui>.layui-form-item2>.layui-input2{
        width: 1060px;
        height: 38px;
        position: absolute;
        margin-left: 100px;
        margin-top: -40px;
        border: solid 1px rgb(211, 209, 209);
    }
    .fly-panel>.layui>.layui-form-item3{
      width: 70px;
      height: 40px;
      position: absolute;
      margin-top: 560px;
      margin-left: 1100px;
    }
    .fly-panel>.layui>.layui-form-item3>button{
      width: 70px;
      height: 40px;
      background-color: rgb(4, 77, 4);
      border: solid 1px rgb(211, 209, 209);
      color: aliceblue;
    }
    .fly-panel>.layui>.er{
      width: 1160px;
      height: 460px;
      background-color: white;
      border: solid 1px rgb(211, 209, 209);
      position: absolute;
      margin-top: 20px;
  }
  .fly-panel>.layui>.er>a{
     font-size: 20px;
     position: absolute;
     margin-top: 430px;
     margin-left: 5px;
}
.fly-panel>.layui>.er>.yt{
  width: 1160px;
  height: 420px;
  background-color: rgb(248, 246, 246);
  position: absolute;
}
.fly-panel>.layui>.er>.yt>a>.po{
  width: 35px;
  height: 35px;
}
.fly-panel>.layui>.er>.yt>a>.pa{
  width: 35px;
  height: 35px;
}
.fly-panel>.layui>.er>.yt>a>.pc{
  width: 35px;
  height: 35px;
}
.fly-panel>.layui>.er>.yt>.ip{
  width: 1130px;
  height: 350px;
  position: absolute;
  margin-left: -102px;
  margin-top: 40px;
  text-align: start;
}
.fp{
  position: absolute;
  margin-top: 800px;
  width: 100%;
  height: 300px;
  border-top:solid 8px #ff4444;
  background-color: #943838;
}
.fp>.ui1{
  height: 300px;
  width: 400px;
  margin-left: 400px;
  /* background-color: #000;*/
} 
.fp>.ui1>span{
  font-size: 50px;
  font-weight: 400;
} 
.fp>.ui1>.a1{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 70px;
  margin-left: -260px;
} 
.fp>.ui1>.a2{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 110px;
  margin-left: -260px;
} 
.fp>.ui1>.a3{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 150px;
  margin-left: -260px;
} 
.fp>.ui1>.a4{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 190px;
  margin-left: -260px;
} 
.fp>.ui1>.a5{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 230px;
  margin-left: -260px;
} 
.fp>.ui1>.a6{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 270px;
  margin-left: -260px;
} 

.fp>.ui2{
  height: 300px;
  width: 400px;
  margin-left: 860px;
  /* background-color: #000; */
  margin-top: -300px;
}
.fp>.ui2>span{
  font-size: 50px;
  font-weight: 400;
} 
.fp>.ui2>.a1{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 70px;
  margin-left: -230px;
} 
.fp>.ui2>.a2{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 110px;
  margin-left: -230px;
} 
.fp>.ui2>.a3{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 150px;
  margin-left: -230px;
} 
.fp>.ui2>.a4{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 190px;
  margin-left: -230px;
} 
.fp>.ui2>.a5{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 230px;
  margin-left: -230px;
} 
.fp>.ui2>.a6{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  margin-top: 270px;
  margin-left: -230px;
} 
.fp>.ui3{
  height: 300px;
  width: 400px;
  margin-left: 1120px;
  background-color: #5ee7df;
  margin-top: -300px;
}
.fp>.ui3>a{
  font-size: 20px;
  margin-left: 20px;
  position: absolute;
  margin-top: 270px;
}
.fp>.ui4{
  height: 300px;
  width: 400px;
  background-color: #5ee7df;
  margin-top: -300px;
}
.fp>.ui4>img{
width: 100%;
height: 100%;
}